body{
  font-size: 62.5%;
  margin: 0%;
}
*{
  box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #C4DFDF;
    height: 10em;
    width: 100%;
    position:fixed;

  }
.imgLogo{
    display: inline;
    align-items: center;
    justify-content: left;
    width: 70%;
    height: auto;
  }

  a{
    color: #F8F6F4;
    font-family: 'Spectral SC', serif;
    font-size: 2.0em;
    font-weight: bold;
    margin: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
  }

  a:hover{
    color: #C6B29E;
    text-decoration: underline;
  }

  section{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .logo{
    width: 40%;
  }

  .conteudoInicio{
    display: flex;
    margin-top:8.7%;
    width: 100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
  }
  .textoInicio{
    justify-content: center;
    align-items: center;
    font-size: 2.0em;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-inline: 50px;
  }

  .imgrest{
    width: 50em;
    padding-left: 10%;
  }

  .linha{
    background-color: white;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .qp{
    margin: 5%;
    width: 50%;
    border: 0px;
    border-top: 1px dashed #d4c0ac; 
  }
  .menu{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;

  }
  .itensMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }
  
  .itemA{
    display: block;
    background-color: #E3F4F4;
    border-radius: 10%;
    width: 263px;
    height: min-content;
    margin: 2.5%;
    padding: 20px;
    font-family: 'Wire One', sans-serif;
    font-size: 2.5em;
    justify-content: center;
    text-align: center;
  }

  .itemB{
    display: block;
    background-color: #F8F6F4;
    border-radius: 10%;
    width: 263px;
    height: min-content;
    margin: 2.5%;
    padding: 20px;
    font-family: 'Wire One', sans-serif;
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
  }
  hr{
    margin: 25px;
  }

  h4{
    font-family: 'Kristi', cursive;
    font-size: 38px;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    color: #C6B29E;
  }

  .sobre{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .conteudoSobre{
    display: flex;
    width: 100%;
    height: fit-content;
  }

  .imgSobre{
    width: 100%;
    height: 80vh;
    margin: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Wire One', sans-serif;
    font-size: 2.9em;
    text-align: center;
    color: #A68565;
  }
  
  .historia{
    display: block;
    font-family: 'Wire One', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 100px;
    margin-bottom: auto;
    padding: 5% 5%;
    background-color:#E3F4F4;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
  }

  .valores{
    color: #A68565;
    font-size: 1.3em;
  }

  .contato{
    display: block;
    height: fit-content;
    width: 100%;
  }
  .titulo{
    display: none;
  }

  .conteudoContato{
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 35px;
    font-family: 'Wire One', sans-serif;
    justify-content: center;
    align-items: center;
  }
  .forml{
    margin: 5%;
  }

input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;
    justify-content: left;
    align-items: start;
    resize: none;
    padding: 20px;


}
.mnsg{
    height: 200px;
}

.imgContato{
    display: block;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #F8F6F4;
    border-radius: 10%;
    margin: 5%;
    padding: 20px;
    text-align: center;
}

input[type=submit] {
    width: 40%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    font-family: 'Wire One', sans-serif;
    background-color: #d4c0ac;
    color: white;
    font-weight: bold;
    border-radius: 10%;
}

input[type=submit]:hover {
    background-color: #C4DFDF;
  }

input[type=text]:focus {
    background-color: #C4DFDF
  }

  .voltar{
    display: none;
  }

@media screen and (max-width: 700px) {
    header{  
      flex-direction: column;
      position:sticky;
      width: 100%;
      height: max-content;
      justify-content: center;
      align-items: center;
    }
    .sec{
      flex-direction: column;
    }
    .logo{
      width: 80%;
    }
    .imgInicio{
      max-width: 100%;
      height:auto;
      margin-left: 2%;
    }
    .conteudoInicio{
    flex-direction: column;
    height: auto;
  }
  .imgLogo{
    margin: 0%;
    width: 60%;
    margin-right: 5%;
  }
  img{
    width: 100%;
    height: auto;
  }
    .textoInicio{
      margin-inline: 0px;
    }
  .itensMenu{
    margin: 5% 0%;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
  }
  .itemA, .itemB{
    width: 60%;
    height: fit-content;
  }
  .menu{

    justify-content: center;
    height: fit-content;
  }
  .historia{
    padding: 5%;
    height: fit-content;
    width: 100%;
    margin: 0%;
  }
  .conteudoSobre{
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .imgSobre, .sobre{
    margin: 0%;
    height: auto;
    width: 100%;
  }
  .conteudoContato{
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .forml{
    padding: 0%;
    margin: 5%;
    margin-bottom: 10%;
  }
  .imgContato{
    height: max-content;
    margin: 0%;
  }
  footer{
    display: flex;
    background-color: #C4DFDF;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    margin: 5% 0%;

  }
  .voltar{
    display: flex;
  }


}

